.barra-inicial {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #138510;
  /*height: 90px;*/
}

.logo-barra {
  max-height: 50px;
}

@media (min-width: 576px) {
  p {
  }
}

@media (min-width: 300px) {
  .header-footer {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .header-footer {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .ff-display.header-footer {
    font-size: 24px;
  }
}

@media (min-width: 300px) {
  .footer-header-button {
    font-size: 9px;
  }
}

@media (min-width: 576px) {
  .bg-g-roxo-escuro.footer-header-button {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .bg-g-roxo-escuro.footer-header-button {
    font-size: 18px;
  }
}

